{% include "analysis/navigation_bar.html" with head2="" head3="" %}


<body>
    <div class="container">
        {% autoescape off %}

        Hello {{ user.first_name }} {{ user.last_name }},<br><br>

        We cannot activate your account (Maybe did you already activate this account in the past ?) <br><br>

        {% endautoescape %}
    </div>
</body>
</html>

