{% include "analysis/navigation_bar.html" with head2="" head3="" %}


<body>
    <div class="container">
        {% autoescape off %}

        Hello {{ user.first_name }} {{ user.last_name }},<br><br>

        Your information has been sent successfully.<br><br>

        In order to complete your registration, please click the confirmation link in the email that we have sent to {{ user.email }}<br><br>

        Please check, whether the email is in the junk folder of your email account, since confirmation mails with backlinks are sometimes classified as spam.

        {% endautoescape %}
    </div>
</body>
</html>

