{% include "analysis/navigation_bar.html" with head2="Run analysis" head3="Choose pipeline from the list. " %}

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<body>

<div class="container">

    <form id='choice_form' action="{% url 'analysis:choice_analysis' %}" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-4">
                {% for field in form_choice %}
                {% if field.id_for_label == 'id_pipeline' %}
                <div class="row"><p>
                    <div class="col-md-1"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr></div>
                </div>
                <div class="row"><p>
                    <div class="col-md-1">{{ field }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>
</div>
</body>
</html>

<script>
    function mysubmit(value){
    if ( value == '' ) { return; }
    setTimeout( function () {
        document.getElementById("choice_form").submit();}, 500)
}

</script>