{% include "analysis/navigation_bar.html" with head2="Run analysis" head3="The input files need to be under Collaboration folder in WEXAC server. See help for more details." %}
{% load static %}
<head>
    <script type="text/javascript" src="{% static 'analysis/js/analysis.1.0.js' %}"></script>
</head>

<body>
<div class="container">
    {% if "Submit" in pipeline %}
    <form name="frm" id="form_analysis" action="{% url 'analysis:submit_analysis' pipeline %}" method="post">
    {% elif "DESeq2" in pipeline and "Transcriptome" in pipeline %}
    <form name="frm" id="form_analysis" action="{% url 'analysis:run_deseq' pipeline %}" method="post">
    {% else %}
    <form name="frm" id="form_analysis" action="{% url 'analysis:analysis' pipeline %}" method="post">
    {% endif %}

        {% csrf_token %}

        <div class="main">
            {% if demosite %}
            <h3 style="color:red;">Note: This is a demo site that does not have full functionalities of UTAP application.<br>It demonstrates the user interface and examples of run results, and does not support running new analyses - other than running DESeq2 step on existing analyses from "User datasets" page.</h3>
            {% endif %}

            <div class="row">
                {% if "Submit" not in pipeline or "DESeq2" and "Transcriptome" not in pipeline%}
                <div class="col-md-4">
                    {% for field in form %}
                    {% if field.id_for_label == 'id_pipeline' %}
                    <div class="row"><p>
                        <div class="col-md-1"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr>
                        </div>
                    </div>
                    <div class="row"><p>
                        <div class="col-md-1">{{ field }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="col-md-8">
                    <div class="row"><p>
                        <div class="col-md-4"><abbr><label for="id_chosen_pipeline">Chosen pipeline:</label></abbr></div>
                        <div class="col-md-4"><b><input id="id_chosen_pipeline" readonly="readonly" size=80 style="text-align: left;border: 0px solid;" value="{{ pipeline }}"/></b></div>
                    </div>

                    {% for field in form %}
                    {% if field.id_for_label == 'id_name' %}
                        <div class="row"><p>
                        <div class="col-md-2"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr></div>
                        <div class="col-md-10"> date(D/M/Y)_time(H/M/S) {{ field }} {{ pipeline }}</div>
                        </div>
                    {% endif %}
                    {% if field.id_for_label != 'id_name' %}
                    {% if field.field.widget.attrs.form_id != 'advanced' %}
                    {% if field.id_for_label != 'id_pipeline' %}
                    {% include 'analysis/field.html' with field=field %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                    {% if "RNA-Seq" in pipeline %}
                    <div class='row' id="UMI_length"></div>
                    {% endif %}
                    {% if "Transcriptome" in pipeline or "DESeq2" in pipeline or "ATAC" in pipeline or "ChIP" in pipeline %}
                    {% if not "MARS-Seq DESeq2" in pipeline and not "RNA-Seq DESeq2" in pipeline %}
                    <div class='row' id="report_dir_name"></div>
                    {% endif %}
                    <div class='row' id="multiselect_temp"></div>
                    {% endif %}
                    {% if "Demultiplexing" in pipeline %}
                        <br>
                        <p><b>Copy and paste your sample names and barcodes from an excel file (select the upper left cell
                            and paste your excel file content. The sheet will be enlarged automatically).</b></p>
                            <p>The sample names cannot contain the following characters: space character, ? ( ) [ ] . / \ = + < > : ; " ' , * ^ | & </p>
                        {% if "BCL" in pipeline or "RUNID" in pipeline %}
                            <br/>
                            <button type="button" class="btn btn-info" id=pool style="display:none;" data-toggle="collapse" data-target="#pool_class">Add pools</button>
                            <br/>
                            <br/>
                            <div id=pool_class class="collapse">
                                <h4 style="color:blue;">Demultiplex with Ilumina Index</h4>
                                <br/>
                                <button type="button" class="btn btn-info" id="DualIndPool">Add Dual Index</button>
                                <br/>
                                <br/>
                                <div id="pool_table"> </div>
                                <br/>
                                </div>
                                <br/>
                        {% endif %}
                            <h4 style="color:blue;">Demultiplex with sample Index</h4>
                            <br/>
                            <button type="button" class="btn btn-info" id="DualInd">Add Dual Index</button>
                            <br/>
                            <br/>
                            <div id="samplesheet_table"></div>
                            <br/>
                            <br/>
                            <button type="button" class="btn btn-info" id="checkSS">Check sample sheet</button>
                            <br/>
                    {% endif %}
                    <br/>

<!--                    {% with False as has_advanced %}-->
<!--                    {% endwith %}-->
<!--                    {% for field in form %}-->
<!--                    {% if field.field.widget.attrs.app == app and field.field.widget.attrs.form_id == 'advanced' %}-->
<!--                    {% with True as has_advanced %}-->
<!--                    {% endwith %}-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->

                    <br/>
                    {% if "RNA-Seq" in pipeline %}
                        <div class="alert alert-warning">
                            <strong>Please note that paired-end data with UMI has not been tested yet</a></b>
                            </strong>
                        </div>
                    {% endif %}
                    {% if "Single-cell RNA Cell Ranger" in pipeline %}
                        <div class="alert alert-warning">
                            <strong>Warning - Use NovaSeq only with unique dual indexing pooling combinations (unique i5 and i7 indexes).
                                Index hopping (or index switching) is a known phenomenon in NovaSeq.
                                It causes incorrect assignment of libraries from the expected index to a different index (in the multiplexed pool).
                                For some protocols (e.g. 10X Genomics), scRNA-Seq index hopping contaminations can be eliminated by using bioinformatics procedures.
                                Please consult with us at <b><a href="mailto:utap@weizmann.ac.il">utap@weizmann.ac.il</a></b>
                            </strong>
                        </div>


                        <strong style="color: red;">Please note that Single-cell RNA Cell Ranger requires significant machine resources.
                                                    Depending on WEXAC's load, it might take up to several days for your results to arrive.</strong>
                    {% endif %}
                    {% if advanced_form %}
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Advanced parameters</button>
                        <div id="demo1" class="collapse">
                             <br/>
                            {% for command in form.commands %}
                                    <input type='checkbox' data-toggle='collapse' data-target='#{{ command }}1' />{{ command }}
                                    <div id='{{ command }}1' class="collapse"> <p>
                                     {% for field in advanced_form %}
                                        {% if field.field.widget.attrs.command == command %}
                                            {% if field.help_text %}
                                                <div class="row"><p>
                                                <div class="col-md-6"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr>
                                                </div>
                                                <div class="col-md-6">{{ field }}</div>
                                                </div>
                                            {% else %}
                                                <div class="row"><p>
                                                <div class="col-md-6">{{ field.label_tag }}</div>
                                                <div class="col-md-6">{{ field }}</div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <br/>
                    <br/>



<!--                    $('#postageyes').click(function() {-->
<!--  $('#conditional1').toggle();-->
<!--});-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--<label>-->
<!--  <input type="checkbox" id="postageyes" name="postage1" value="Yes" />Yes</label>-->
<!--<div id="conditional1" style="display:none">-->
<!--  <p>This should only show when the 'Yes' checkbox &lt;input&gt; element is checked.</p>-->
<!--  <a href="">close</a>-->
<!--                    {% if has_advanced %}-->
<!--                    <button type="button" data-toggle="collapse" data-target="#advanced_parameters"-->
<!--                            class="btn btn-info">-->
<!--                        Advanced parameters-->
<!--                    </button>-->
<!--                    {% endif %}-->
                    <button style="display: none;" type="submit" id="hidden-submit">Not Shown</button>
                    {% if "DESeq2" and "Transcriptome" not in pipeline and demosite %}
                    <input type="button" type="submit" value="Run analysis (Demo)" class="btn btn-info" id="Run" onclick="submit_disable_button();"></input>
                    {% elif "Submit" not in pipeline %}
                    <input type="button" type="submit" value="Run analysis" class="btn btn-info" id="Run" onclick="submit_disable_button();"></input>
                    {% else %}
                    <input type="button" type="submit" value="Submit for runing in end of the sequencing" class="btn btn-info" id="Run" onclick="submit_disable_button();"></input>
                    {% endif %}

                    <!--<input type="button" class="btn btn-info" id="refresh" onclick="location.reload()" value="Reset parameters"></input>-->
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>


<!--                    <div class="advanced collapse" id="advanced_parameters">-->
<!--                        {% for app in form.applications %}-->
<!--                        <h1>-->
<!--                            <div class="label label-default">{{ app }}</div>-->
<!--                        </h1>-->
<!--                        {% for field in form %}-->
<!--                        {% if field.field.widget.attrs.app == app and field.field.widget.attrs.form_id == 'advanced' %}-->
<!--                        {% if field.help_text %}-->
<!--                        <div class="row"><p>-->
<!--                            <div class="col-md-4"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr>-->
<!--                            </div>-->
<!--                            <div class="col-md-4">{{ field }}</div>-->
<!--                        </div>-->
<!--                        {% else %}-->
<!--                        <div class="row"><p>-->
<!--                            <div class="col-md-4">{{ field.label_tag }}</div>-->
<!--                            <div class="col-md-4">{{ field }}</div>-->
<!--                        </div>-->
<!--                        {% endif %}-->
<!--                        {% endif %}-->
<!--                        {% endfor %}-->
<!--                       {% endfor %}&ndash;&gt;-->
<!--                    </div>&ndash;&gt;-->

            </div>
            <br>
            <br>
        </div>

    </form>

    <div class="row"><p>
        {% if error_message %}
        <div class="alert alert-{{ message.level_tag }}">{{ error_message }}</div>
        {% endif %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>

</body>


<script type="text/javascript">
    <!--FOR DEMO SITE-->
    <!--{% if "RNA-Seq" in pipeline %}-->
        <!--$("#id_input_folder_wrap").before('<br><div class="col-md-4"></div><div class="col-md-4">Click on the button and select \'RNA-Seq-input\' folder </div><br><br>');-->
    <!--{% else %}-->
        <!--$("#id_input_folder_wrap").before('<br><div class="col-md-4"></div><div class="col-md-4">Click on the button and select \'MARS-Seq-input\' folder </div><br><br>');-->
    <!--{% endif %}-->

    function redirect(pipeline){
        if ( pipeline == '' ) { return; }
        setTimeout( function () {
            window.location = '{% url "analysis:analysis" "Demultiplexing" %}'.replace("Demultiplexing", pipeline);}, 500)
    };


</script>
</html>