{% include "analysis/navigation_bar.html" %}

{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<div class="container">
    <h1>e-learning:</h1>
    <table class="table">
        <thead>
        <tr class="row">
            <!--<th class="col-md-1">Parameters</th>-->
            <!--<th class="col-md-1">Results</th>-->
        </tr>
        </thead>
        <tbody>
        {% for pipeline in pipeliens %}
           <tr>
                <td> <a href={{pipeline.link}} class="btn btn-danger navbar-btn" target="_blank">{{pipeline.pipeline}}</a></td>

            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
