<div class="field" id="{{ field.id_for_label }}_wrap">
    {% if not field.is_hidden %}
        {% if field.help_text %}
        <div class="row">
            <p>
            <div class="col-md-4"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr></div>
            <div class="col-md-4">{{ field }}</div>
            </p></div>
        {% else %}
        <div class="row"><p>
            <div class="col-md-4">{{ field.label_tag }}</div>
            <div class="col-md-4">{{ field }}</div>
            </p></div>
        {% endif %}
    {% endif %}
</div>