{% include "analysis/navigation_bar.html" with head2="Login as another user without password" head3="Choose a user from the Weizmann Institute LDAP platform (The user must login at least one time to the system with its own password). " %}

<html>
<body>
<div class="container">
    <form action="{% url 'analysis:login_as' %}" method="post">
        {% csrf_token %}
        {{ form }}
        </br>
        <div class="row"><p>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <input type="submit" value="Login" class="btn btn-info">
            </div>
        </div>

    </form>
</div>
</body>
</html>
