<tr>
    <th>Parameters:</th>
    <td>
        <ul>
            <li><label><input name="par" type="text" value="blue" required /> v1</label></li>
            <li><label><input name="par" type="text" value="green" required /> v2</label></li>
            <li><label><input name="par" type="text" value="black" required /> v3</label></li>
        </ul>
    </td>
</tr>

Specify how to treat multiple hits:<ul><li><strong>random:</strong> Selects a random hit.</li><li><strong>all:</strong> Selects all hits.</li><li><strong>allbest:</strong> Selects all the best score hits.</li><li><strong>randombest:</strong> Selects a random hit from all best score hits.</li><li><strong>leftmost:</strong> Selects a hit which has the best score and the smallest mapping coordinate in any reference.</li></ul>