{% include "analysis/navigation_bar.html" with head2="Upload data" head3="Upload input folder to server." %}

{% load static %}
<head>
    <script type="text/javascript" src="{% static 'analysis/js/upload_folder.1.0.js' %}"></script>
</head>



{% block content %}
    <form id='upload_folder' action="{% url 'analysis:upfolder' %}" method="post" enctype="multipart/form-data" >
        <div class="container">
            {% if demosite %}
            <h3 style="color:red;">Note: This demo site does not have full UTAP functionalities and therfore only supports upload of files smaller than 1Mb.</h3>
            {% endif %}

            <button class="btn btn-danger navbar-btn" onclick="location.href='{% url 'analysis:upload_help' %}'">Uploading help</button>

            <table>
                {% csrf_token %}
                {{ form }}
            </table>
            {% if demosite %}
            <p><input type="submit" class="btn btn-info" style="background: rgb(208, 32, 32)" value="Upload (Demo)"></p>
            {% else %}
            <p><input type="submit" class="btn btn-info" style="background: rgb(208, 32, 32)" value="Upload"></p>
            {% endif %}
        </div>
    </form>
    <div class="row"><p>
        {% if error_message %}
        <div class="alert alert-{{ message.level_tag }}">{{ error_message }}</div>
        {% endif %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}



<script>
document.getElementById("id_file_field").addEventListener("change", function(event) {
  let files = event.target.files;
  total_size = 0;
  for (let i=0; i<files.length; i++) {
    let item = files[i].webkitRelativePath;
    let size = files[i].size;
    total_size += size;
  };
  total_size /= (1024*1024);
  total_size = parseInt(total_size);
  if (total_size > "{{ max_upload_size }}") {
    alert('file too large (' + total_size +'Mb). Size should not exceed ' + "{{ max_upload_size }}" + 'Mb.');
    document.getElementById("id_file_field").value = '';
  };
}, false);

</script>