{% include "analysis/navigation_bar.html" with head2="Instructions for uploading your sequencing data to the wexac server" %}
<div class="container">
    <p>Before running the pipeline, you must upload the input data to the wexac server:
<br><br>
     Click the "Choose Files" button, and select the root folder of the relevant files:
<br><br>.

        <b>Uploading folder of fastq files</b><br><br>
        - Fastq files must be organized, within the selected folder (root folder), into subfolders as shown below. Subfolder names are derived from the sample names.<br>
        - Each subfolder must contain the relevant fastq file(s) (which can be compressed into "gz" format to save space).<br>
        - Fastq file names must end with "_R1.fastq" or "_R1.fq" (optionally followed by .gz) for single-read data.<br>
        - For paired-end data (required for Mars-Seq), the relevant files must have R2 in the suffix instead of R1 - e.g. "_R2.fastq" or "_R2.fq" (optionally followed by .gz) instead of "_R1.fastq".<br><br>
        - For example:<br><br>
        <ul>
        <li>root folder
        <ul>
          <li>
            <ul>sample1
              <li>sample1_R1.fastq</li>
              <li>sample1_R2.fastq (required for Mars-seq and paired-end)</li>
            </ul>
          </li>
          <li>
            <ul>sample2
              <li>sample2_R1.fastq</li>
              <li>sample2_R2.fastq (required for Mars-seq and paired-end)</li>
            </ul>
          </li>
        </ul>
        </li>
        </ul>

        <br><br>
        - The pipeline also supports the old convention for fastq files named *_L00*_R1_0*.fastq, where the letter "L" denotes the lane number, "R" the read number, and 0* (e.g 001,002,...) the serial number of the file for each lane and read
        <br><br>- For example:<br><br>
        <ul>
        <li>root folder
        <ul>
          <li>
            <ul>sample1
              <li>sample1_S0_L001_R1_001.fastq</li>
              <li>sample1_S0_L001_R1_002.fastq</li>
              <li>sample1_S0_L002_R1_001.fastq</li>
              <li>sample1_S0_L002_R1_002.fastq</li>
              <li>sample1_S0_L001_R2_001.fastq</li>
              <li>sample1_S0_L001_R2_002.fastq</li>
              <li>sample1_S0_L002_R2_001.fastq</li>
              <li>sample1_S0_L002_R2_002.fastq</li>
            </ul>
          </li>
          <li>
            <ul>sample2
            <li>...</li>
            </ul>
          </li>
        </ul>
        </li>
        </ul>

        <b>Uploading folders of bcl files (for the demultiplexing pipeline):</b><br><br>
        - Upload the original bcl folder. Its name must conform to the template YYMMDD_part2_part3_part4 - e.g. 180514_NB551168_0123_AHTHHKBGX5 <br><br><br><br><br><br>


    </p>
</div>
