{% include "analysis/navigation_bar.html" %}

{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<body onload="analysis_progress_all_rows()">
<div class="container">
    <h1>Analyses List:</h1>
    <table class="table">
        <thead>
        <tr class="row">
            <th class="col-md-1"></th>
            <th class="col-md-4">Name</th>
            <th class="col-md-1">Run status</th>
            <th class="col-md-3">Pipeline</th>
            <th class="col-md-1">Created</th>
            <th class="col-md-1"></th>
            <!--<th class="col-md-1">Parameters</th>-->
            <!--<th class="col-md-1">Results</th>-->
        </tr>
        </thead>
        <tbody>
        {% for analysis in analysis_list %}
        {% if "DELETED" not in analysis.status %}
            <tr class="row">
                {% if analysis.status != "RUNNING" or analysis.status != "COPY FASTQ FILES" %}
                <td class="col-md-1">
                    {% if demosite %}
                    <button class="btn btn-danger navbar-btn" id="id_delete_analysis" onclick="alert('Cannot delete in demo site')">Delete</button>
                    {% else %}
                    <button class="btn btn-danger navbar-btn" id="id_delete_analysis" onclick="confirm_delete( '{{ analysis.name }}', '{{ analysis.pipeline }}' )">Delete</button>
                    {% endif %}
                </td>
                {% else %}
                <td class="col-md-1"></td>
                {% endif %}
                <td class="col-md-4">
                    {% if "DESeq2" in analysis.pipeline %}
                    &rArr;
                    {% endif %}
                    <a href="{% url 'analysis:analysis_details' analysis.id %}">{{analysis.name}}</a>
                </td>
                <td class="col-md-1"  name="run_status" id="{{ analysis.name }}">{{analysis.status}}
                    {% if analysis.status != "SUCCESSFUL" %}
                    <div id="myBar" style="width:100%; height:5px; border:1px solid black;">
                         <div id="{{ analysis.name }}_id" style="width:0%; background-color:blue; height:5px;"></div>
                        </div>
                    {% endif %}
                </td>
                <td class="col-md-3">{{ analysis.pipeline }}</td>
                <td class="col-md-1">{{ analysis.date }}</td>
                {% if "Submit" not in analysis.pipeline and "Transcriptom" in analysis.pipeline and "DESeq2" not in analysis.pipeline and analysis.status == "SUCCESSFUL" %}
                {% with analysis.pipeline|add:" DESeq2" as pipelinedeseq %}
                <td class="col-md-1"><a
                        href="{% url 'analysis:run_deseq' pipelinedeseq %}?params_file={{ analysis.parameters_json }}"
                        class="btn btn-info navbar-btn">Run DESeq2 again<br> with other parameters</a></td>
                {% endwith %}
                {% else %}
                <td class="col-md-1"></td>
                {% endif %}
                <!--<td class="col-md-1"><a href="{{ analysis.parameters }}" target="newtab">Parameters</a></td>-->
                <!--<td class="col-md-1"><a href="{{ analysis.results }}" target="newtab">Results</a></td>-->
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
</div>
</body>

{% endblock %}
