{% include "analysis/navigation_bar.html" with user=user %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% block content %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

{% if form.errors %}
    {{ form.errors }}
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% if bbcu_internal %}
                <p align="center"><b>Please login with your Weizmann account username and password </b></p>
            {% else %}
                <p align="center"><b>UTAP - ngs pipelines hosted on {{ institute_name }} server</b></p>


            {% endif %}
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'user_login' %}">
                        {% csrf_token %}
                        <p class="bs-component">
                        <table>
                            {% if demosite %}
                            <tr>
                                <td>For demo site:</td>
                            </tr>
                            <tr>
                                <td>username: testuser</td>
                                <td>, password: utap1234</td>
                            </tr>
                            <tr><td><br></td></tr>
                            {% endif %}
                            <tr>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        </p>
                        <p class="bs-component">
                        <center>
                            <input class="btn btn-success btn-sm" type="submit" value="login"/>
                        </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
            </div>
        </div>
        {% if not bbcu_internal %}
        <div class="row">

            <div class="col-md-4 col-md-offset-4">
                <center>
                    <p class="bs-component">
                    {% if demosite %}
                    <button class="btn btn-danger navbar-btn" onclick="alert('Cannot signup in demo site')">Sign Up</button><br>
                    <a onclick="alert('Cannot signup in demo site')">forgot password ?</a>
                    {% else %}
                    <button class="btn btn-danger navbar-btn" onclick="location.href='{% url 'analysis:signup' %}'">Sign Up</button><br>
                    <a href="{% url 'password_reset' %}">forgot password ?</a>
                    {% endif %}
                    </p>
                </center>
            </div>
        {% endif %}
        </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}

<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>
{% endblock %}

</html>
